body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-300px;
  top:-470px;
  width:1840px;
  height:1470px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1840px;
  height:1470px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:196px;
  top:0px;
  width:1449px;
  height:10px;
}
#u1_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1_end {
  position:absolute;
  left:1432px;
  top:-5px;
  width:18px;
  height:20px;
}
#u1_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1449px;
  height:2px;
}
#u2 {
  position:absolute;
  left:864px;
  top:34px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:839px;
  top:394px;
  width:169px;
  height:33px;
  font-size:28px;
  color:#F2F2F2;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
}
#u4_img.selected {
}
#u4.selected {
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:839px;
  top:194px;
  width:169px;
  height:33px;
  font-size:28px;
  color:#F2F2F2;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
}
#u6_img.selected {
}
#u6.selected {
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:839px;
  top:264px;
  width:169px;
  height:33px;
  font-size:28px;
  color:#F2F2F2;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
}
#u8_img.selected {
}
#u8.selected {
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:811px;
  top:334px;
  width:225px;
  height:33px;
  font-size:28px;
  color:#F2F2F2;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:33px;
}
#u10_img.selected {
}
#u10.selected {
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:821px;
  top:119px;
  width:198px;
  height:33px;
  font-size:28px;
  color:#F2F2F2;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:33px;
}
#u12_img.selected {
}
#u12.selected {
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:429px;
  top:237px;
  width:989px;
  height:600px;
  overflow:hidden;
  visibility:hidden;
}
#u14_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:80px;
  top:39px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:80px;
  top:81px;
  width:470px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:453px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:470px;
  height:1px;
}
#u18 {
  position:absolute;
  left:80px;
  top:109px;
  width:684px;
  height:204px;
  font-size:28px;
  line-height:68px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:204px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:80px;
  top:325px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:80px;
  top:369px;
  width:470px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:453px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:470px;
  height:1px;
}
#u23 {
  position:absolute;
  left:80px;
  top:389px;
  width:796px;
  height:204px;
  font-size:28px;
  line-height:68px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:204px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:427px;
  top:377px;
  width:989px;
  height:910px;
  overflow:hidden;
  visibility:hidden;
}
#u25_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:910px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u25_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:80px;
  top:39px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:80px;
  top:81px;
  width:470px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:453px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:470px;
  height:1px;
}
#u29 {
  position:absolute;
  left:80px;
  top:93px;
  width:824px;
  height:408px;
  font-size:28px;
  line-height:68px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:408px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:80px;
  top:510px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:80px;
  top:554px;
  width:470px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:453px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:470px;
  height:1px;
}
#u34 {
  position:absolute;
  left:80px;
  top:569px;
  width:880px;
  height:340px;
  font-size:28px;
  line-height:68px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:340px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:429px;
  top:180px;
  width:989px;
  height:915px;
  overflow:hidden;
  visibility:hidden;
}
#u36_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:915px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u36_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37 {
  position:absolute;
  left:80px;
  top:39px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:80px;
  top:81px;
  width:470px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:453px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:470px;
  height:1px;
}
#u40 {
  position:absolute;
  left:80px;
  top:109px;
  width:713px;
  height:164px;
  font-size:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:164px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:80px;
  top:325px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:80px;
  top:369px;
  width:470px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:453px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:470px;
  height:1px;
}
#u45 {
  position:absolute;
  left:80px;
  top:389px;
  width:839px;
  height:492px;
  font-size:28px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:492px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:429px;
  top:447px;
  width:989px;
  height:853px;
  overflow:hidden;
  visibility:hidden;
}
#u47_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:853px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u47_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48 {
  position:absolute;
  left:80px;
  top:39px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:80px;
  top:81px;
  width:470px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:453px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:470px;
  height:1px;
}
#u51 {
  position:absolute;
  left:80px;
  top:93px;
  width:628px;
  height:340px;
  font-size:28px;
  line-height:68px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:340px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:80px;
  top:454px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:80px;
  top:498px;
  width:470px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:453px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:470px;
  height:1px;
}
#u56 {
  position:absolute;
  left:80px;
  top:513px;
  width:824px;
  height:340px;
  font-size:28px;
  line-height:68px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:340px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:429px;
  top:307px;
  width:989px;
  height:730px;
  overflow:hidden;
  visibility:hidden;
}
#u58_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:730px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u58_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:80px;
  top:39px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:80px;
  top:81px;
  width:470px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:453px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:470px;
  height:1px;
}
#u62 {
  position:absolute;
  left:80px;
  top:99px;
  width:628px;
  height:204px;
  font-size:28px;
  line-height:68px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:204px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:80px;
  top:325px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:80px;
  top:369px;
  width:470px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:453px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:470px;
  height:1px;
}
#u67 {
  position:absolute;
  left:80px;
  top:384px;
  width:824px;
  height:340px;
  font-size:28px;
  line-height:68px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:340px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:110px;
  top:463px;
}
#u69_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u69_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70 {
  position:absolute;
  left:64px;
  top:0px;
  width:1449px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:1432px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:4px;
  width:1449px;
  height:2px;
}
#u71 {
  position:absolute;
  left:0px;
  top:105px;
  width:97px;
  height:29px;
  color:#FFFFFF;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:0px;
  top:158px;
  width:81px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:0px;
  top:194px;
  width:81px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:0px;
  top:229px;
  width:101px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:202px;
  top:105px;
  width:97px;
  height:29px;
  color:#FFFFFF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:202px;
  top:158px;
  width:81px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:202px;
  top:194px;
  width:81px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:202px;
  top:229px;
  width:61px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:202px;
  top:265px;
  width:123px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:23px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:424px;
  top:105px;
  width:97px;
  height:29px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:424px;
  top:158px;
  width:101px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:536px;
  top:158px;
  width:177px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:23px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:424px;
  top:231px;
  width:61px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:424px;
  top:279px;
  width:41px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:426px;
  top:312px;
  width:37px;
  height:10px;
}
#u99_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_end {
  position:absolute;
  left:20px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_line {
  position:absolute;
  left:0px;
  top:4px;
  width:37px;
  height:2px;
}
#u100 {
  position:absolute;
  left:484px;
  top:279px;
  width:41px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:546px;
  top:279px;
  width:41px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:612px;
  top:279px;
  width:41px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:678px;
  top:279px;
  width:41px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:736px;
  top:279px;
  width:41px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:878px;
  top:105px;
  width:97px;
  height:29px;
  color:#FFFFFF;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:424px;
  top:194px;
  width:131px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:23px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:878px;
  top:157px;
  width:145px;
  height:145px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:145px;
}
#u115 {
  position:absolute;
  left:2px;
  top:64px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:1416px;
  top:158px;
  width:135px;
  height:26px;
  font-size:22px;
  color:#66FFCC;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:26px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:1374px;
  top:204px;
  width:225px;
  height:41px;
  font-size:36px;
  color:#FFFFFF;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:41px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:1338px;
  top:265px;
  width:290px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:23px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:318px;
  top:370px;
  width:988px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:23px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:786px;
  top:403px;
  width:52px;
  height:15px;
  color:#00FFFF;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:1112px;
  top:105px;
  width:97px;
  height:29px;
  color:#FFFFFF;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:1112px;
  top:158px;
  width:181px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#F2F2F2;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:23px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1840px;
  height:1470px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u130 {
  position:fixed;
  left:50%;
  margin-left:-920px;
  bottom:0px;
  visibility:hidden;
}
#u130_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u130_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:1840px;
  height:890px;
  opacity:0.8;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1840px;
  height:890px;
}
#u132 {
  position:absolute;
  left:2px;
  top:437px;
  width:1836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:319px;
  top:222px;
  width:1203px;
  height:445px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1203px;
  height:445px;
}
#u134 {
  position:absolute;
  left:2px;
  top:214px;
  width:1199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:1699px;
  top:40px;
  width:61px;
  height:60px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:60px;
}
#u136 {
  position:absolute;
  left:2px;
  top:22px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:1615px;
  top:414px;
  width:60px;
  height:60px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u138 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:165px;
  top:414px;
  width:60px;
  height:60px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u140 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
